
body {
  background-color: #2c2c2c;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-lock-circle {
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 30px;
}

.App-lock-icon {
  width: 128px;
  display: block;
  padding-left: 10px;
  padding-top: 2px;
}

.Lock-circle-mask {
  width: 136px;
  height: 136px;
  position: absolute;
  clip: rect(0px,70px,200px,0px);
  animation: App-lock-circle-spin-mask 7s linear infinite;
}

.Lock-circle {
  border: 5px solid #e16666;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  clip: rect(0px,64px,200px,0px);
  animation: App-lock-circle-spin 7s linear infinite;
}

@keyframes App-lock-circle-spin-mask {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  50.001% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@keyframes App-lock-circle-spin {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50.001% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.passwordParentRow {
  display: block;
  width: 80%;
}

.digitElement {
  display: inline-block;
  background: #e16666;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 15%;
  color: black;
  font-size: 1.6em;
}

.buttonRow {
  display: flex;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  transform: scale(0.8);
}

.App-Generate-Button {
  margin: 10px;
  width: 200px;
  height: 100%;

  font-size: 20px;
  background: #e16666;
  border: 1px solid black;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}
